@import "./style.css";

/*  Header  */

@media(max-width:350px){
    .headerIphone img{
        width: 100%;
    }
    .featureItems{
        flex-direction: column;
    }
}


@media(max-width:810px){
	.menu{
		display: none;
	}
	.show{
		display: block;
	}
	.headerTop button{
		position: absolute;
		right: 0;
		top: 0;
		margin-top: 45px;
		margin-right: 15px;
	}
	.headerTop .headerBurger{	
		cursor: pointer;
		z-index: 50;	
		display: block;
		margin-left: 50px;
		position: relative;
		width: 30px;
		height: 20px;
		position: fixed;
	}
	.headerBurger::before,
	.headerBurger::after{
		content:'';
		background-color: #fff;
		position: absolute;
		width: 100%;
		height: 2px;
		left: 0;
	}
	.headerBurger::before{
		top: 0;
	}
	.headerBurger::after{
		bottom: 0;
	}
	.headerBurger span{
		background-color: #fff;
		position: absolute;
		width: 100%;
		left: 0;
		height: 2px;
		top: 9px;
	}
	.headernNav1{
		position: fixed;
		top: 0;
		left: 0;
		background-color: rgba(38, 125, 244, 0.7);
		width: 100%;
		z-index: 49;
	}
	.headerTop .navbtn nav{
		padding-right: 0;
	}
	.headernNav1 ul{
		flex-direction: column;
	}
	.headernNav1 ul li{
		text-align: center;
		margin: 0;
	}
	.headernNav1 ul li a,{
		font-size: 30px;
		padding: 20px;
		display: inline-block;
	}
	
}

/*  Feature */

/*  Iphone Feature  */
@media(max-width:350px){
    .iphoneFeature{
        padding-top: 50px !important;
        flex-direction: column;
    }
    .iphoneFeatureContent{
        padding: 0 15px;
    }
}
/*  Map Feature */
@media screen and (max-width: 1230px) {
    .worldMap {
        top: 240px;
        filter: blur(2px);
    }
}

@media screen and (max-width: 890px) {
    .worldMap {
        top: 50px !important;
        width: 100% !important;
        height: 50vh !important;
        position: relative !important;
        filter: none;
        background-size: contain !important;
    }
    .mapContent {
        display: flex;
        flex-direction: column;
        max-width: none !important;
        padding: 20px 20px;
    }
}

@media screen and (max-width: 650px) {
    .mapFeature {
        padding: 120px 0 100px 0 !important;
    }
}

@media screen and (max-width: 500px) {
    .mapFeature {
        padding: 70px 0 70px 0;
    }
    .worldMap {
        top: 10px;
    }
}

@media screen and (max-width: 400px) {
    .mapTitle {
        font-size: 36px !important;
    }
    .partnersLogos a img {
        width: 100px;
        height: 30px;
    }
    .worldMap {
        height: 30vh !important;
    }
}

/*  Iphone Screens  */

/*  Ready to Buy  */
@media screen and (max-width: 550px) {
    .readyToBuy form input[type = "email"] {
        width: 60vw !important;
    }
    .readyToBuy form button {
        margin-top: 10px;
        position: relative !important;
    }
}

/*  Customers  */
@media screen and (max-width: 800px) {
    .moveRight, .moveLeft {
        display: none;
    }
}
@media screen and (max-width: 630px) {
    .customerImage {
        width: 60px !important;
        height: 60px !important;;
    }
    .imgActive {
        width: 90px !important;;
        height: 90px !important;;
    }
    .imagesTrack {
        width: auto !important;
    }
    .sliderContainer {
        max-width: 450px !important;
    }
    .testimonials {
        margin-top: 0 !important;
        min-width: 450px !important;
    }
}
@media screen and (max-width: 500px) {
    .sliderContainer {
        max-width: 300px !important;
    }
    .testimonials {
        min-width: 300px !important;
    }
}

/*  Plans  */
@media screen and (min-width: 350px){
    section.plans .content{
        flex-direction: column;
    }
    section.plans .content .right{
        flex-direction: column;
    }
}

@media screen and (min-width: 950px){
    section.plans .content{
        flex-direction: row;
    }
    section.plans .content .right{
        flex-direction: row;
    }
}

/*  Subscribtion  */
@media screen and (min-width: 350px){
    .subscription .container .ask{
        width: 100%;
    }
    .subscription .container form .sub{
        width: auto;
    }
    
}

@media screen and (min-width: 750px){
    .subscription .container form .sub{
        width: 20%;
    }
    .subscription .container .ask{
        width: 570px;
    }
}

/*  Footer  */
@media screen and (max-width: 900px){
    .footerContent {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
    .mainInfo a img {
        margin: 0 auto;
    }
    .breadcrumbs ul:nth-of-type(3) {
        margin-right: 0 !important;
    }
}
@media screen and (max-width: 600px){
    .breadcrumbs {
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .breadcrumbs ul {
        margin: 0 !important;
        margin-bottom: 15px !important;
    }
    .copyrights {
        flex-direction: column;
    }
    .socialLinks {
        margin-bottom: 50px !important;
    }
    .footerContent {
        margin-top: 30px !important;
    }
}