@import "./style.css";


/*  Header  */

/*  Feature */

/*  Iphone Feature  */

/*  Map Feature */

/*  Iphone Screens  */

/*  Ready to Buy  */

/*  Customers  */

/*  Plans  */

@media screen and (min-width: 350px){
    section.plans .content{
        flex-direction: column;
    }
    section.plans .content .right{
        flex-direction: column;
    }
}

@media screen and (min-width: 950px){
    section.plans .content{
        flex-direction: row;
    }
    section.plans .content .right{
        flex-direction: row;
    }
}


/*  Subscribtion  */
@media screen and (min-width: 350px){
    .subscription .container .ask{
        width: 100%;
    }
    .subscription .container form .sub{
        width: auto;
    }
    
}

@media screen and (min-width: 750px){
    .subscription .container form .sub{
        width: 20%;
    }
    .subscription .container .ask{
        width: 570px;
    }
}
/*  Footer  */