@import "fonts.css";

body{
    margin: 0;
    padding: 0;
}

:root{
    --main-color: white;
    --secondary-color: #f4f4f5;
    --main-font: 'Varela Round', sans-serif;
    --secondary-font: 'Lato', sans-serif;
    --font-color: black;
    --secondary-font-color: #8c8f94;
}

.container {
    margin: 0 auto;
    max-width: 1200px;
    padding: 0 15px 0 15px;
}
/*Map Section Start*/

.mapFeature {
    padding: 206px 0 198px 0;
}

.mapContent {
    position: relative;
	z-index: 1;
	max-width: 470px;
}

.mapTitle {
    font-family: var(--main-font);
    font-size: 42px;
    line-height: 52px;
    font-weight: 400;
    color: #26272d;
    margin-top: 0;
    margin-bottom: 64px;
}

.mapInfo {
    font-family: var(--secondary-font);
    font-size: 20px;
    line-height: 28px;
    font-weight: 400;
    color: #8c8f94;
}

.mapInfo p {
    margin-top: 0;
    margin-bottom: 40px;
}

.partnersTitle {
    font-family: var(--secondary-font);
    font-size: 12px;
    line-height: 22px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    color: #26272d;
    margin: 0;
    padding-top: 28px;
    padding-bottom: 31px;
}

.partnersLogos a:first-child {
    margin-right: 31px;
}

.worldMap{
    background-image: url('../img/world_map.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
	top: 206px;
    right: 0;
    width: 842px;
    height: 496px;    
}

/*Map Section End*/

/*Ready to Buy Section Start*/

.readyToBuy {
    padding: 89px 0px 86px 0px;
    background-color: #f5f5f8;
    text-align: center;
}

.readyToBuy p:first-of-type {
    opacity: 0.5;
    font-family: var(--secondary-font);
    font-size: 12px;
    line-height: 22px;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    color: #3a3d4b;
    margin-top: 0;
    margin-bottom: 37px;
}

.readyToBuy p:first-of-type span {
    font-weight: 700;
}

.readyToBuy h3 {
    font-family: var(--main-font);
    font-size: 42px;
    line-height: 52px;
    font-weight: 400;
    color: #3a3d4b;
    margin-top: 0;
    margin-bottom: 47px;
}

.readyToBuy form {
	display: inline-block;
	margin-bottom: 66px;
    position: relative;
}

.readyToBuy form input {
	width: 475px;
    height: 50px;
    border: 1px solid #22232828;
    border-radius: 25px;
	background: transparent;
    font-family: var(--secondary-font);
    font-size: 16px;
    line-height: 1.2;
    font-weight: 400;
    color: #3a3d4b;
    padding-left: 25px;
}

.readyToBuy form button {
	width: 164px;
	height: 42px;
	top: 6px;
    right: 5px;
	border-radius: 21px;
	background-color: #6fc754;
	color: #fff;
	font-family: var(--secondary-font);
	font-size: 16px;
    line-height: 1.2;
    font-weight: 400;
	cursor: pointer;
    position: absolute;
    border: none;
    outline: none;
}

.readyToBuy form button:hover {
    color: #6fc754;
    background-color: white;
    border: 1px solid #6fc754;
    transition: 0.2s;
}

.fa-arrow-right {
    color: #fff;
    padding-left: 18px;
    font-size: 13px;
}

.readyToBuy form button:hover .fa-arrow-right {
    color: #6fc754;
}

.readyToBuy p:last-of-type {
    opacity: 0.3;
    font-family: var(--secondary-font);
    font-size: 12px;
    line-height: 1.2;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    color: #3a3d4b;
    margin-top: 0;
    margin-bottom: 22px;
}

/*Ready to Buy Section End*/

.appStoreBtn {
    display: inline-block;
    position: relative;
	background-color: #131315;
	border-radius: 30px;
	font-family: var(--secondary-font);
    font-size: 12px;
    font-weight: 400;
    color: #fff;
	position: relative;
    text-decoration: none;
    padding: 11px 41px 14px 69px;
}

.appStoreBtn span {
    font-size: 23px;
    line-height: 22px;
}

.appStoreBtn::before {
    font-family: 'Font Awesome 5 Brands'; 
    font-weight: 400; 
    content: "\f179";
	position: absolute;
	left: 27px;
	color: #fff;
	font-size: 34px;
}

.appStoreBtn:hover {
    border: 3px solid;
    border-color: cornflowerblue;
    transition: 0.2s;
}

/*Subscription Section Start*/

.subscription{
    height: auto;
    width: 100%;
    margin:  90px 0 90px 0;
    display: flex;
    justify-content: center;
    align-items: center;

}

.subscription .container{
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.subscription .container h2{
    font-size: 42px;
    font-family: var(--main-font);
    margin: 0 0 20px 0;
    color: var(--font-color);
    text-align: center;   
}

.subscription .container p{
    margin: 0;
    font-size: 14px;
    font-family: var(--secondary-font);
    color: var(--secondary-font-color);
    text-align: center;
}

.subscription .container form{
    position: relative;
    margin: 30px  0;
    border: 1px solid #22232828;
    border-radius: 25px;
    display: flex;
    align-items: center;
    width: 570px;
    height: 40px;
}

.subscription .container form button{
    cursor: pointer;
    font-family: var(--secondary-font);
    font-size: 16px;
    color: white;
    background-color: #6fc754;
    width: 20%;
    right: 1px;
    top: 1px;
    bottom: 1px;
    border-radius: 25px;
    text-align: center;
    border: 1px solid white;
    padding: 5px 20px;
    position: absolute;
}

.subscription .container form button:hover{
    color: #6fc754;
    background-color: white;
    border: 1px solid #6fc754;
}

.subscription .container form input[type = "email"]{
    border: 2px solid white;
    border-radius: 25px;
    padding: 10px 20px;
    width: 100%;
    margin: 0 0 0 1px;      
}

.subscription .container form input[type = "email"]:focus{
    border: none;
    outline: none;
}

/* Subsciption Section End */